[submodule "extensions/Validator"]
	path = extensions/Validator
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Validator.git
[submodule "extensions/ParserFunctions"]
	path = extensions/ParserFunctions
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/ParserFunctions.git
